<%- include('./head')-%>
    <html>

    <body class="text-center">
        <%- include('./nav')-%>
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <main role="main" class="container flex">
                    <h1>Cats Works</h1>
                </main>
            </div>
            <%- include('./footer')-%>
    </body>

    </html>