<%- include('./head')-%>
    <html>

    <body class="text-center">
        <%- include('./nav')-%>
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <main role="main" class="container flex">
                </main>
            </div>

            <!DOGS>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
            <style>
                body,
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-family: "Karma", sans-serif
                }
                
                .w3-bar-block .w3-bar-item {
                    padding: 20px
                }
            </style>

            <body>


                <!-- Sidebar (hidden by default) -->
                <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
                    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button">Close Menu</a>
                </nav>

                <!-- Top menu -->
                <div class="w3-top">
                    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
                        <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
                        <div class="w3-right w3-padding-16">Mail</div>
                        <div class="w3-center w3-padding-16">Our cats ♥</div>
                    </div>
                </div>


                <!-- !PAGE CONTENT! -->

                <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

                    <!-- First Photo Grid-->
                    <div class="w3-row-padding w3-padding-16 w3-center" id="text">
                        <div class="w3-quarter">
                            <img src="images/cats/birman.jpg" alt="Birman" style="width:100%">
                            <h3>Birman</h3>
                            <li>Weight range: Male: large: >12 lbs.</li>
                            <li>Female: large: >12 lbs.</li>
                            <li>Eye color: Blue Expectations: Longevity Range: 9-13 yrs.</li>
                            <li> Needs: Moderate Tendency to Shed: High, Moderate Coat: Length: Long Characteristics: Silky</li>
                            <li> Colors: Frost, Blue, Chocolate, Seal, Red, Cream, Cinnamon, Lilac, Fawn Pattern: Points, Mitted Less Allergenic: No Overall Grooming Needs: Moderate</p>
                            </li>
                        </div>
                        <div class="w3-quarter">
                            <img src="images/cats/persian.jpg" alt="persian" style="width:100%">
                            <h3>Persian</h3>
                            <p>Weight range: Male: large: >12 lbs. Female: medium: 8-12 lbs. Eye color: Blue, Copper, Green, Hazel, Odd-eyed Expectations: Longevity Range: 8-11 yrs. Social/Attention Needs: Moderate Tendency to Shed: High Coat: Length: Long
                                Characteristics: Silky Colors: White, Red, Cream, Black, Blue, Chocolate, Lilac, Silver, Golden, Cameo, Tortoiseshell, Blue-cream, Brown, Calico, Seal Pattern: Solid Color, Tortoiseshell, Bicolor, Tricolor/Calico, Tabby,
                                Smoke, Shaded, Points Less Allergenic: No Overall Grooming Needs: High</p>
                        </div>
                        <div class="w3-quarter">
                            <img src="images/cats/ragdoll.jpg" alt="Dachshund" style="width:100%">
                            <h3>Ragdoll</h3>
                            <p>Weight range: Male: large: >12 lbs. Female: large: >12 lbs. Eye color: Blue Expectations: Longevity Range: 7-12 yrs. Social/Attention Needs: Moderate Tendency to Shed: High Coat: Length: Long Characteristics: Silky Colors:
                                Frost, Blue, Chocolate, Seal, Red, Lilac, Bluecream, Cream Pattern: Bicolor, Points, Mitted Less Allergenic: No Overall Grooming Needs: Moderate, High</p>
                        </div>
                        <div class="w3-quarter">
                            <img src="images/cats/russianblue.jpg" alt="Dalmatian" style="width:100%">
                            <h3>Russian Blue</h3>
                            <p>Russian Blue Cat at a Glance Gray cat with green eyes on a cat bed Weight range: Male: 10-12 pounds Female: 7-10 pounds Eye color: Eyes are yellow with green rims as a kitten and become bright green as an adult. Expectations:
                                Longevity Range: 15-20 years Social/Attention Needs: Low Tendency to Shed: Low Coat: Length: Short Characteristics: Straight, double-coat, plush Colors: Dark gray tipped with silver Pattern: None. Faint stripes may be present
                                as a kitten but disappear in adulthood. Less Allergenic: Yes Overall Grooming Needs: Low</p>
                        </div>
                    </div>

                    <!-- Second Photo Grid-->
                    <div class="w3-row-padding w3-padding-16 w3-center">
                        <div class="w3-quarter">
                            <img src="images/cats/siamese.jpg" alt="french bulddug" style="width:100%">
                            <h3>Siamese</h3>
                            <p>Weight range: Male: medium: 8-12 lbs. Female: small:
                                <8 lbs. Eye color: Blue Expectations: Longevity Range: 8-12 yrs. Social/Attention Needs: Moderate, High Tendency to Shed: Low Coat: Length: Short Characteristics: Smooth Colors: Chocolate, Seal, Lilac, Blue, Red, Cream, Fawn, Cinnamon Pattern: Points
                                    Less Allergenic: No Overall Grooming Needs: Low</p>
                        </div>
                        <div class="w3-quarter">
                            <img src="images/cats/sphynx.jpg" alt="" style="width:100%">
                            <h3>Sphynx</h3>
                            <p>Weight range: Male: Medium:
                                < 12 lbs. Female: Medium: < 12 lbs. Eye color: Varies Expectations: Longevity Range: 8-14 yrs. Social/Attention Needs: High Tendency to Shed: Low Coat: Length: Extra-short Characteristics: Nearly hairless, can range from completely bald to peach fuzz
                                    Colors: White, black, blue, red, cream, silver, golden, cameo, tortoiseshell, blue-cream, brown Pattern: Solid color, tortoiseshell, bicolor, tricolor/calico, tabby, ticking, smoke, shaded Less Allergenic: No Overall Grooming
                                    Needs: High</p>
                        </div>
                        <div class="w3-quarter">
                            <img src="images/cats/turkishangora.jpg" alt="" style="width:100%">
                            <h3>Turkish angora</h3>
                            <p>Weight range: Male: large: >12 lbs. Female: 8-12 lbs. Eye color: Blue, Copper, Green, Gold, Odd-eyed Expectations: Longevity Range: 9-14 yrs. Social/Attention Needs: Moderate Tendency to Shed: High Coat: Length: Medium, Long
                                Characteristics: Silky Colors: White, Red, Cream, Black, Blue, Silver, Tortoiseshell, Calico, Dilute Calico, Bluecream Pattern: Solid Color, Tortoiseshell, Bicolor, Tricolor/Calico, Tabby, Smoke Less Allergenic: No Overall
                                Grooming Needs: Moderatee</p>

                            <hr id="about">


                            <!-- End page content -->
                        </div>


            </body>

    </html>
    </body>
    <%- include('./footer')-%>

        </html>