<%- include('./head')-%>
    <html>

    <body class="text-center">
        <%- include('./nav')-%>
            <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
                <main role="main" class="container flex flex-col">
                    <!-- Cat Birna-->
                    <div class="w-full md:flex md:w-full sm:flex sm:w-full lg:flex">
                        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('images/cats/birman.jpg')" title="Woman holding a mug">
                        </div>
                        <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                            <div class="mb-8">
                                <p class="text-sm text-grey-dark flex items-center">
                                    <svg class="text-grey w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                              </svg> Members only
                                </p>
                                <div class="text-black font-bold text-xl mb-2">Birman</div>
                                <p class="text-grey-darker text-base">Weight range: Male: large: >12 lbs. Female: large: >12 lbs. Eye color: Blue Expectations: Longevity Range: 9-13 yrs. Social/Attention Needs: Moderate Tendency to Shed: High, Moderate Coat: Length: Long Characteristics:
                                    Silky Colors: Frost, Blue, Chocolate, Seal, Red, Cream, Cinnamon, Lilac, Fawn Pattern: Points, Mitted Less Allergenic: No Overall Grooming Needs: Moderate</p>
                            </div>
                            <div class="flex items-center">
                                <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                                <div class="text-sm">
                                    <p class="text-black leading-none">Jonathan Reinink</p>
                                    <p class="text-grey-dark">Aug 18</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card bierna-->
                    <div class="w-full md:flex md:w-full sm:flex sm:w-full lg:flex">
                        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('images/cats/persian.jpg')" title="Woman holding a mug">
                        </div>
                        <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                            <div class="mb-8">
                                <p class="text-sm text-grey-dark flex items-center">
                                    <svg class="text-grey w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                              </svg> Members only
                                </p>
                                <div class="text-black font-bold text-xl mb-2">persian</div>
                                <p class="text-grey-darker text-base">Weight range: Male: large: >12 lbs. Female: medium: 8-12 lbs. Eye color: Blue, Copper, Green, Hazel, Odd-eyed Expectations: Longevity Range: 8-11 yrs. Social/Attention Needs: Moderate Tendency to Shed: High Coat: Length:
                                    Long Characteristics: Silky Colors: White, Red, Cream, Black, Blue, Chocolate, Lilac, Silver, Golden, Cameo, Tortoiseshell, Blue-cream, Brown, Calico, Seal Pattern: Solid Color, Tortoiseshell, Bicolor, Tricolor/Calico,
                                    Tabby, Smoke, Shaded, Points Less Allergenic: No Overall Grooming Needs: High</p>
                            </div>
                            <div class="flex items-center">
                                <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                                <div class="text-sm">
                                    <p class="text-black leading-none">Jonathan Reinink</p>
                                    <p class="text-grey-dark">Aug 18</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card bierna-->
                    <div class="w-full md:flex md:w-full sm:flex sm:w-full lg:flex">
                        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('images/cats/ragdoll.jpg')" title="Woman holding a mug">
                        </div>
                        <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                            <div class="mb-8">
                                <p class="text-sm text-grey-dark flex items-center">
                                    <svg class="text-grey w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                              </svg> Members only
                                </p>
                                <div class="text-black font-bold text-xl mb-2">ragdoll</div>
                                <p class="text-grey-darker text-base">Weight range: Male: large: >12 lbs. Female: medium: 8-12 lbs. Eye color: Blue, Copper, Green, Hazel, Odd-eyed Expectations: Longevity Range: 8-11 yrs. Social/Attention Needs: Moderate Tendency to Shed: High Coat: Length:
                                    Long Characteristics: Silky Colors: White, Red, Cream, Black, Blue, Chocolate, Lilac, Silver, Golden, Cameo, Tortoiseshell, Blue-cream, Brown, Calico, Seal Pattern: Solid Color, Tortoiseshell, Bicolor, Tricolor/Calico,
                                    Tabby, Smoke, Shaded, Points Less Allergenic: No Overall Grooming Needs: High</p>
                            </div>
                            <div class="flex items-center">
                                <img class="w-10 h-10 rounded-full mr-4" src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg" alt="Avatar of Jonathan Reinink">
                                <div class="text-sm">
                                    <p class="text-black leading-none">Jonathan Reinink</p>
                                    <p class="text-grey-dark">Aug 18</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card bierna-->
                </main>
            </div>
            <%- include('./footer')-%>
    </body>

    </html>